<nav class="left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="nav left-sidebar-elements">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                工作台
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                应用列表
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                统计信息
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>