
$theme-colors: (
    "primary": #41cac0,
    "dark": #373d41
);
$breadcrumb-divider: quote(">");

$pad-top: 56px;
$pad-left: 180px;

$top-right-nav-width: calc(100% - 180px);

.top-header .right-navbar {
    width: $top-right-nav-width;
}

// left sidebar

.left-sidebar {
    background-color: #333744;
    width: 180px;
    left: 0;
    position: fixed;
    height: 100%;
    margin-top: 56px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.left-sidebar .left-sidebar-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.left-sidebar .left-sidebar-spacer {
    height: 100%;
    display: table-row;
}

.left-sidebar .left-sidebar-content {
    position: relative;

}

.left-sidebar .nav-link {
    color: rgba(255,255,255,1);
}

.left-sidebar .nav-item.active {
    background: #00c1de;
}

.left-sidebar li {
    width: 100%;
}

// content
.content {
    position: relative;
    left: 0;
    margin-left: 180px;
    min-height: 100%;
    padding-top: 56px;
}

.content .page-title .nav-link {
    color: #333;
}

.content .page-title .active {
    color: #41cac0;
}

// content page
.content-page-wrapper {
    padding-top: 15px;
}

.content-page-wrapper .btn-primary {
    color: #fff;
}

@import "node_modules/bootstrap/scss/bootstrap";